<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>This is a dataset that tracks nutritional information across several fast food items. I wanted to compare the average of serving sizes, calories and trans fat content across several fast food brands.</a></p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete? If not, what is missing and what concerns does it raise?
  </h2>
	<p>

  There were a couple of issues with the data.
  The serving size and trans fat quantitites for some food portions was not mentioned.
  Nutritional information varies significantly by serving sizes. If there are any outliers in terms of serving sizes(some brands just serving bigger portions), it would skew the rest of the analysis. 

  Transfat is one of the leading factors correlated with heart disease. Since that was pertinent to my analysis, I decided to also discard rows without it.

  Ideally, I would have a complete dataset with all macro-nutrient information. However, for the purposes of my analysis, the rest of the data was sufficient.

</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p>Yes, the data is coherent. </p>

  <img src="https://i.imgur.com/FsdPMml.png?1" alt="Graph about calories">

  <img src="https://i.imgur.com/vxf6LwM.png" alt="Graph about serving size">

  <img src="https://i.imgur.com/DvXrpU5.png" alt="Graph about transfat">

  <p>

  As one would expect, serving sizes are more or less consistent across brands with the exception of White Castle, which markets itself for it's sliders.

  Relative to serving size, no significant disparity can be observed amongst most brands with the exception of Subway.
  A plausible explanation for this may be that Subway markets itself as a brand for the health conscious.

  Certain brands still have trans fat in trace quantities.

  </p>
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p>Yes. 
  A random sample of 20 rows were verified against MyFitnessPal, another application that tracks nutritional information. No significant disparity was observed. </p>

      </div>

   

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
